.profile {
    margin-top: 50px;
    display: flex;
  /* justify-content: center; */
  flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 520px;
}